
.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li
            a(href="/index") Home
          li.active
            a(href="about") About
          li
            a(href="contact") Contact
header.jumbotron.subhead
  .container
    .span3
      img(src="/images/RSSLogo_draft.png")
    .span8
      h1 Red Ship Studios
      //- p row for the ship...
.bs-docs-social
  .container
    ul.bs-docs-social-buttons
      li
        | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&amp;repo=bootstrap&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      
      li
        | <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=twitter&amp;repo=bootstrap&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98px" height="20px"></iframe>
      
      li.follow-btn
        | <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.1347008535.html#_=1349911869646&amp;id=twitter-widget-1&amp;lang=en&amp;screen_name=twbootstrap&amp;show_count=true&amp;show_screen_name=true&amp;size=m" class="twitter-follow-button" style="width: 236px; height: 20px; " title="Twitter Follow Button" data-twttr-rendered="true"></iframe>
      
      li.tweet-btn
        | <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/tweet_button.1347008535.html#_=1349911869640&amp;count=horizontal&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Ftwitter.github.com%2Fbootstrap%2Findex.html&amp;related=mdo%3ACreator%20of%20Twitter%20Bootstrap&amp;size=m&amp;text=Twitter%20Bootstrap&amp;url=http%3A%2F%2Ftwitter.github.com%2Fbootstrap%2F&amp;via=twbootstrap" class="twitter-share-button twitter-count-horizontal" style="width: 107px; height: 20px; " title="Twitter Tweet Button" data-twttr-rendered="true"></iframe>
.container
  .marketing
    h1 Who we are...
    p.marketing-byline really?
    .row-fluid
      .span10.offset1
        p Red Ship Studios was founded In Montreal, by 4 best friends who believe that to best understand our vision, it’s best to get to know the people behind it. 
        p It’s actually very simple. So simple, and so clear, that the very simplicity of it has inspired us to create entertainment that we know people everywhere will enjoy. 

        p We’re nerds. But not just any nerds... We love every bit of great entertainment that we get our paws on, and we often obsess over it. 

        p Whether it’s straightforward or complex, single or multiplayer, over the years we’ve all learned that nothing brings us more happiness than having fun. From an early age, Peter pan has taught us to never grow up – and we are grateful every day, in admitting that we haven’t. 

        p At Redship, our goal is to pass on our beliefs and our love through everything we create. 
        p We strive to be innovative, and we stop at nothing short of creating something that we look forward to playing, and that satisfies our experienced appetite for fun. We’re confident that in doing so, people everywhere will continue to be reminded that absolutely nothing can beat a flat-out good time! 

        h3 ROW FOR THE SHIP!