.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li
            a(href="index") Home
          li
            a(href="games") Games
          li.active
            a(href="contact") Contact

.container-fluid
  .row-fluid
    .span12
    .row-fluid
      .span3.offset1
          img(src="/images/RSSLogo_draft.png")
      .span6 
        .hero-unit
          h1  Contact Us
          a( class='btn btn-primary btn-large',href='mailto:mail@company.com') mail@company.com