.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li
            a(href="index") Home
          li.active
            a(href="games") Games
          li
            a(href="contact") Contact

.container-fluid
  .row-fluid
    .span12
    .row-fluid
      .span3.offset1
          img(src="/images/RSSLogo_draft.png")
      .span8
        .hero-unit
          h1 Dice Ahoy
          
          | <br/>
          dl(class="dl-horizontal")
            dt About this game:
              dd
                p.description Do you dream about leading a fleet of pirate ships to complete domination of the high seas? So do we! Unfortunately we're not savage buccaneers, and we have no idea how to operate a compass. So here at red ship we decided to make a dice game instead!
                p.description In Dice Ahoy, the dice act as your ships, as well as your mighty cannons. Destroy your opponents before they destroy you! Be conservative, or use our "chance die" to attempt more devastating attacks - but be careful ; it may lead you to your ultimate doom. Dice ahoy is quick, easy to learn,  a blast to play, and we've been told by countless pirates that we've perfectly captured the experience of naval warfare... we're honored!
            dt # of Players:
              dd 2 to 6
            dt Difficulty:
              dd.text-warning Medium
            dt Learning Curve:
              dd.text-error Difficult
            dt Rules:
              dd rule 1
              dd rule 2
              dd rule 3


        .hero-unit
          h1 Dungeon
          | <br/>
          dl(class="dl-horizontal")
            dt About this game:
              dd 
                p.description Legends speak of an island. An island where for hundreds of years Ninjas have battled Pirates. Along with your crew, you have been marooned here. All out war between factions is at it's peak,  resources are scarce, and it's now every man for himself!                
                p.description Use your wits to survive, collect loot to grow stronger, and adapt to the ever evolving island battleground. Inspired by everything we love about role playing games, and presented with a touch of humor, Red Ship is aiming to create a game that will satisfy the nerds inside all of us!
                p.description With over 100 Unique monsters and dozens of weapons brought to life by stunning artwork, we're convinced  that players everywhere will get as much enjoyment out of looking at the game, as they will in playing it.
                p.description Please check back for updates as we'll be posting some pics in the very near future!
            dt # of Players:
              dd 2 to 6
            dt Difficulty:
              dd.text-warning Medium
            dt Learning Curve:
              dd.text-error Difficult
            dt Rules:
              dd rule 1
              dd rule 2
              dd rule 3