.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li
            a(href="index") Home
          li.active
            a(href="games") Games
          li
            a(href="contact") Contact

.container-fluid
  .row-fluid
    .span12
    .row-fluid
      .span3.offset1
          img(src="/images/RSSLogo_draft.png")
      .span8
        .hero-unit
          h1 Game 1
          
          | <br/>
          dl(class="dl-horizontal")
            dt Game Title:
              dd Row For The Ship
            dt # of Players:
              dd 2 to 6
            dt Difficulty:
              dd.text-warning Medium
            dt Learning Curve:
              dd.text-error Difficult
            dt Rules:
              dd rule 1
              dd rule 2
              dd rule 3


        .hero-unit
          h1 Game 2
          | <br/>
          dl(class="dl-horizontal")
            dt Game Title:
              dd Row For The Ship
            dt # of Players:
              dd 2 to 6
            dt Difficulty:
              dd.text-warning Medium
            dt Learning Curve:
              dd.text-error Difficult
            dt Rules:
              dd rule 1
              dd rule 2
              dd rule 3