.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href="#")= title
      .nav-collapse
        ul.nav
          li.active
            a(href="#") Home
          li
            a(href="about") About
          li
            a(href="contact") Contact

.container
  .row
    .span3.bs-docs-sidebar
        img(src="/images/RSSLogo_draft.png")
    .span9
      section#global
        .page-header
          h1 Row For The Ship!!
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae augue vitae ligula malesuada viverra sit amet in massa. In a posuere ante. Pellentesque ante justo, venenatis eget ornare ullamcorper, consectetur sed metus. Nunc eleifend tempus ipsum id volutpat. Donec varius porttitor purus ut imperdiet. Maecenas aliquet urna tortor, non ornare massa. Curabitur nunc orci, malesuada eu tristique eu, sagittis vitae dui. Vivamus ac leo a sem placerat congue. Integer diam dui, tempor vitae fringilla sed, convallis venenatis dolor.

        p Nulla fermentum accumsan mauris, mollis malesuada risus luctus ac. Fusce luctus pharetra dolor, nec vestibulum ipsum semper ac. Praesent eget justo tincidunt eros tristique convallis. Aenean vel eleifend est. Nulla facilisi. Curabitur rhoncus urna vitae lacus porta convallis. Cras quis egestas sem. Phasellus a lacus nulla, non viverra mi. Etiam placerat justo neque, in vehicula magna. Suspendisse a sem felis, quis cursus urna. Maecenas bibendum congue semper. Donec mollis rhoncus felis eget tincidunt. Sed ut ligula tortor. Quisque congue eleifend auctor.

        p Quisque libero orci, placerat mattis egestas at, mattis eu ipsum. Maecenas eu nisi vel metus ultrices ullamcorper. Sed dui leo, ultricies quis blandit eget, sodales nec justo. Integer eget velit ut massa aliquam mollis. Cras sodales felis eget turpis faucibus auctor. Integer at ligula nunc, quis accumsan turpis. Fusce semper molestie dolor, eu gravida urna tempus lacinia. Sed malesuada rhoncus ultricies. Quisque a ipsum id ligula dictum laoreet et at nisl. Nullam egestas nunc eu erat tempus tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        p Nullam sed ipsum vel nulla consectetur dignissim eget in urna. Morbi vitae arcu nec lacus placerat lacinia sit amet nec eros. Nunc feugiat lacinia adipiscing. Fusce ut ligula velit, nec congue massa. Proin vitae felis at diam malesuada tincidunt. Vestibulum eget eros nec quam tempor dictum at ac mauris. Phasellus vel ipsum purus. Nullam suscipit, massa eget faucibus aliquam, purus eros facilisis enim, sed luctus ipsum erat nec neque. Fusce commodo velit magna, eget ultricies lectus. Sed facilisis ipsum non nibh scelerisque lacinia. Ut id elit sit amet diam ultricies aliquam id ut nunc. Ut non nibh tellus, nec vestibulum purus. Suspendisse nulla nunc, vehicula quis porttitor ac, accumsan et est. Cras auctor turpis id massa molestie consectetur aliquam velit fringilla. Nullam hendrerit, urna a vestibulum ultricies, augue lorem feugiat lectus, a dictum massa urna vel odio.

        p Nam ut justo purus. Fusce facilisis, augue ac adipiscing hendrerit, ipsum nisi dignissim odio, sit amet consectetur justo enim et turpis. Fusce vitae imperdiet dolor. Curabitur feugiat iaculis accumsan. Mauris id orci lorem, eu ullamcorper sem. Morbi pretium pharetra felis, nec molestie ante feugiat non. Vivamus euismod egestas elit et vehicula. Donec gravida, urna id dictum lacinia, mi diam mattis massa, at auctor lorem erat sed est. Vestibulum id augue tellus. Aliquam ultrices gravida enim quis hendrerit. Vestibulum quis suscipit quam. Mauris quis feugiat ipsum. Sed volutpat, dolor vitae vulputate placerat, felis justo cursus sapien, in dignissim turpis urna sit amet diam. Phasellus lacus sem, viverra quis commodo a, viverra ac lorem. Donec sollicitudin porta sem aliquet sollicitudin. Vestibulum blandit sollicitudin dolor, quis viverra erat posuere a.

        p Curabitur blandit velit a magna aliquet sed vestibulum justo tempus. Vestibulum in tortor nisi, eu facilisis tortor. Suspendisse potenti. Ut nibh ante, accumsan ut scelerisque ut, ornare quis metus. In ante nisl, feugiat sodales cursus vel, faucibus quis erat. Nulla magna nulla, congue a sagittis sed, commodo a justo. Phasellus ultricies urna eu est vehicula sit amet ornare nisi suscipit. Phasellus quis nunc eu augue dictum cursus vitae nec quam. Donec non erat at odio semper porttitor. Fusce venenatis vulputate neque, eget hendrerit lectus congue a. Aenean ut accumsan est. Suspendisse vestibulum laoreet pellentesque. Proin molestie, metus aliquet volutpat bibendum, justo ligula commodo sapien, ac faucibus libero libero at urna. Sed mollis ultrices augue quis vestibulum. Vivamus scelerisque imperdiet metus vitae adipiscing. Sed odio ante, tincidunt eu blandit et, tincidunt vitae massa.

        p Cras dui lacus, vehicula blandit auctor id, interdum ac ligula. Nam accumsan velit eget metus molestie hendrerit. Nam a libero turpis, ac tincidunt massa. Mauris mauris enim, gravida sit amet euismod eget, tincidunt non nulla. Sed vitae mi ut mi fringilla aliquet. Vestibulum eu nisl tellus. Suspendisse ante leo, malesuada in feugiat et, rutrum et nisi. Vivamus vulputate, magna a malesuada fermentum, leo erat egestas metus, in dapibus purus justo nec leo. In hac habitasse platea dictumst. Donec ultricies aliquam porta. Integer turpis ipsum, feugiat non tristique in, egestas ut libero. In dapibus nibh vitae lectus mollis iaculis. Nam sagittis nibh sit amet metus tincidunt a facilisis nisi auctor. Etiam nec mauris ut leo rhoncus mollis a nec metus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

        p Ut lobortis ornare accumsan. Nullam eu risus quis purus semper lacinia ut eu massa. Ut dignissim porttitor dictum. Cras blandit neque porttitor nunc faucibus sollicitudin. Ut rutrum dolor vitae quam ultrices quis mollis enim vestibulum. Donec vel turpis quis eros rutrum elementum nec non erat. Integer a diam nunc, vitae tempor nisi. Etiam varius rhoncus pellentesque. In faucibus risus ac tortor malesuada id posuere ante dapibus. Sed ac dolor vitae neque congue placerat vel at leo. Nam dapibus orci dapibus erat aliquet a imperdiet nunc hendrerit. Integer fringilla eros a quam condimentum rhoncus. Integer porta augue et dolor congue a sagittis elit placerat. Nullam porttitor enim nec ante rutrum rhoncus.

        p Vestibulum non sem lorem. Proin quis sem ut lorem dictum pulvinar. Aenean imperdiet auctor iaculis. Phasellus lacinia pharetra nibh at condimentum. Aliquam sem orci, faucibus quis porttitor eu, gravida ut magna. Duis vitae odio sed mi rutrum rutrum. Fusce sit amet sagittis tortor.

        p Integer eget diam arcu. Duis ultrices cursus molestie. Ut cursus congue nisi id rhoncus. Suspendisse elit mauris, egestas at ultricies non, vehicula eu nisl. Vivamus id enim imperdiet nunc ornare vestibulum vel at augue. Nullam ornare nunc at lorem cursus non eleifend ante tempus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti.